@{
    ViewData["Title"] = "Home Page";
}


<div class="col-lg-12 mx-auto pt-0 p-0">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is my webside .</p>

        <p>This page contains no text yet. </p>

    </div>
</div>



