@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<p>Tato stránka je zde v tuto chvíli zbytečná, ale je zde ponechána, aby aplikace vypadala lépe.</p>